.gameBoard{
    width: 50%;
    height: 70%;
    border: 1px solid ivory;
    background-color: ivory;
    border-radius: 20px;
    position: absolute; 
    top: 55%; 
    left: 50%; 
    transform: translate(-50%, -50%);
}

.gameBoardOptions{
    width: 90%;
    margin-top: 2vh;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

.countdown{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttons{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex: 1
}

.newGameButton{
    width: 25%;
    border-radius: 10px;
    border: none;
    background-color: #bdc8d3be;
    padding: 6px 6px;
    letter-spacing: 1px;
    color: black;
    font-weight: bold;
    margin-right: 2em;
    font-size: .8em;
}

.newGameButton:hover{
    cursor: pointer;
}

.restartButton{
    width: 25%;
    border-radius: 10px;
    border: none;
    background-color: orange;
    padding: 6px 6px;
    letter-spacing: 1px;
    color: black;
    font-weight: bold;
    margin-right: 2em;
    font-size: .8em;
}

.restartButton:hover{
    cursor: pointer;
}

.game{
    margin-top: 8vh;
    margin-left: auto;
    margin-right: auto;
    max-width: 90%;
    display: grid;
    place-items: center;
    column-gap: 10px;
    row-gap: 15px;
}

#square{
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 1.4em;
    background-color: #293241;
    color: ivory;
    cursor: pointer;
}

.gameOver{
    position: absolute; 
    top: 40%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    color: orange;
}

.win{
    color: orange;
}

@media screen and (max-width: 900px) {
    .gameBoard{
    width: 90%;
    }

    .game{
        max-width: 100%;
    }
}

@media screen and (max-width: 700px) {
    .gameBoard{
        width: 99%;
    }

    .game{
        max-width: 100%;
    }

    .newGameButton{
        width: 40%;
    }
    
    .newGameButton:hover{
        cursor: pointer;
    }
    
    .restartButton{
        width: 40%;
    }
}